In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Bhargavi\Downloads\diamonds.csv")

In [3]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
df.shape

(53940, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [6]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [8]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

#### 6.How many numerical columns are there in X_train?

In [10]:
X = df.drop(columns=['price'])  # Assuming 'df' is your original DataFrame
y = df['price']

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
numerical_columns = X_train.select_dtypes(include=['float64', 'int64']).columns
num_numerical_columns = len(numerical_columns)

print(num_numerical_columns)

6

#### 7.How many categorical columns are there in X_train?

In [13]:
categorical_columns = X_train.select_dtypes(include=['object']).columns
num_categorical_columns = len(categorical_columns)

print(num_categorical_columns)

3

#### Which of the following are correct?

In [14]:
price_mean = df['price'].mean()
price_median = df['price'].median()
print(price_mean,price_median)

3932.799721913237 2401.0

In [15]:
depth_min = df['depth'].min()
print(depth_min)

43.0

In [16]:
carat_std = df['carat'].std()
print(carat_std)
total_data_points = len(df)
print(total_data_points)

0.47401124440538067
53940

9.Select all the correct options:
1.For cut column - Cardinality is 5
2.For color column - Cardinality is 8
3.For clarity column - Cardinality is 8
4.None of the above

In [17]:
cut_cardinality = df['cut'].nunique()
color_cardinality = df['color'].nunique()
clarity_cardinality = df['clarity'].nunique()

print(cut_cardinality)
print(color_cardinality)
print(clarity_cardinality)

5
7
8

### Which of the following is correct?

In [18]:
# Total number of data points
total_data_points = 53940

# Calculating data points for each split
train_70_30 = int(total_data_points * 0.70)
test_70_30 = int(total_data_points * 0.30)

train_75_25 = int(total_data_points * 0.75)
test_75_25 = int(total_data_points * 0.25)

train_80_20 = int(total_data_points * 0.80)
test_80_20 = int(total_data_points * 0.20)

print(f"70-30 Split: Training Data Points = {train_70_30}, Test Data Points = {test_70_30}")
print(f"75-25 Split: Training Data Points = {train_75_25}, Test Data Points = {test_75_25}")
print(f"80-20 Split: Training Data Points = {train_80_20}, Test Data Points = {test_80_20}")

70-30 Split: Training Data Points = 37758, Test Data Points = 16182
75-25 Split: Training Data Points = 40455, Test Data Points = 13485
80-20 Split: Training Data Points = 43152, Test Data Points = 10788

### 11.After rescaling of X_train_num using Standard Scaler, which of the following is correct?

In [19]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Assuming X_train_num is your numerical features DataFrame
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_num)

# Convert back to DataFrame for easier analysis
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X_train_num.columns)

# Check the mean, std, and median
mean_carat = X_train_scaled_df['carat'].mean()
std_depth = X_train_scaled_df['depth'].std()
median_table = X_train_scaled_df['table'].median()

print(f"Mean of carat column: {mean_carat}")
print(f"Standard Deviation of depth column: {std_depth}")
print(f"Median of table column: {median_table}")

NameError: name 'X_train_num' is not defined

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

# Load your dataset (replace with the actual dataset path)
# df = pd.read_csv('path_to_your_dataset.csv')

# Example dataframe
# df = pd.DataFrame({
#     'cut': ['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'] * 10788,
#     'color': ['D', 'E', 'F', 'G', 'H', 'I', 'J'] * 7692,
#     'clarity': ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1'] * 6742,
#     'carat': [0.2, 0.5, 1.0, 0.3, 0.75] * 10788,
#     'price': [326, 326, 327, 328, 329] * 10788
# })

# Filter the relevant columns
features = ['cut', 'color', 'clarity', 'carat']
target = 'price'
X = df[features]
y = df[target]

# Split the data into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the preprocessor
numeric_features = ['carat']
categorical_features = ['cut', 'color', 'clarity']

# Create the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(), categorical_features)
    ]
)

# Create the pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(random_state=42))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict on the test set
y_pred = pipeline.predict(X_test)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Report the Mean Absolute Error
print(f"Mean Absolute Error: {mae:.2f}")

# Determine the MAE category
if mae < 200:
    print("Error is below 200")
elif 200 <= mae < 400:
    print("Error is above 200 and below 400")
elif 400 <= mae < 750:
    print("Error is above 400 and below 750")
else:
    print("Error is above 750")

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

# Load your dataset (replace with the actual dataset path)
# df = pd.read_csv('path_to_your_dataset.csv')

# Example dataframe
# df = pd.DataFrame({
#     'cut': ['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'] * 10788,
#     'color': ['D', 'E', 'F', 'G', 'H', 'I', 'J'] * 7692,
#     'clarity': ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1'] * 6742,
#     'carat': [0.2, 0.5, 1.0, 0.3, 0.75] * 10788,
#     'price': [326, 326, 327, 328, 329] * 10788
# })

# Filter the relevant columns
features = ['cut', 'color', 'clarity', 'carat']
target = 'price'
X = df[features]
y = df[target]

# Split the data into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the preprocessor
numeric_features = ['carat']
categorical_features = ['cut', 'color', 'clarity']

# Create the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(), categorical_features)
    ]
)

# Create the pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(random_state=42))
])

# Fit the model
pipeline.fit(X_train, y_train)

# Predict on the test set
y_pred = pipeline.predict(X_test)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Report the Mean Absolute Error
print(f"Mean Absolute Error: {mae:.2f}")

# Determine the MAE category
if mae < 200:
    print("Error is below 200")
elif 200 <= mae < 400:
    print("Error is above 200 and below 400")
elif 400 <= mae < 750:
    print("Error is above 400 and below 750")
else:
    print("Error is above 750")

Mean Absolute Error: 298.01
Error is above 200 and below 400
Mean Absolute Error: 298.01
Error is above 200 and below 400